در سلول پایین کد زیر را بنویسید و آن را اجرا کنید. (برای اجرای هر سلول shift + enter را بزنید) 
```python
print("hi jupyter")
```

In [1]:
print("hi jupiter")

hi jupiter

می‌توانید با استفاده از علامت تعجب در ابتدای کد سلول، 
دستورهای 
`terminal`
را در آن اجرا کنید.

In [6]:
!cd

در طول دوره از سه کتاب‌خانه‌ی زیر استفاده می‌شود. برای راحتی هر سه‌ی آن‌ها را همین حالا نصب کنید.

In [7]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.0.3-cp36-cp36m-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 1.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.13.3
  Using cached numpy-1.18.4-cp36-cp36m-manylinux1_x86_64.whl (20.2 MB)
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: six>=1.5 in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.4 pandas-1.0.3 pytz-2020.1

In [8]:
!pip3 install numpy

Requirement already satisfied: numpy in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (1.18.4)

In [9]:
!pip3 install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.2.1-cp36-cp36m-manylinux1_x86_64.whl (12.4 MB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.2.0-cp36-cp36m-manylinux1_x86_64.whl (88 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.11 in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (from matplotlib) (1.18.4)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six>=1.5 in /home/salman/Desktop/collegeML/venv/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Installing collected packages: kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.2.1

کد‌های زیر را اجرا کنید

In [11]:
import pandas as pd
credit_df = pd.read_csv('credit.csv')

در کد بالا به کمک کتاب‌خانه‌ی numpy (که در  درسنامه‌های بعدی مفصل با آن آشنا می‌شوید) داده‌هایی را که در فایل credit.csv است را می‌خواند و در متغیر credit_df قرار می‌دهد. در بخش بعدی می‌توانید سطر‌های اول این داده را مشاهده کنید:

In [12]:
credit_df

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

در این سوال که به عنوان نمونه برای شما طراحی شده است باید میانگین مقادیر `Balance` و مقادیر مختلف ستون `Ethnicity` را محاسبه کنید. دقت کنید این دو مقدار باید حتما در `ethnics` و `balance` ذخیره شود. (اگر اسم متفاوتی داشته باشند سیستم داوری پاسخ درستی نخواهد داد)  

کد زیر در داده‌ی بالا،
میانگین ستون `Balance`
 و 
 مقادیر ستون `Ethnicity`
 را استخراج می‌کند.

In [13]:
ethnics = credit_df['Ethnicity'].unique()
balance = credit_df['Balance'].mean()

برای مشاهده‌ی این مقادیر می‌توانید مانند زیر اسم متغیر را نوشته و سلول را اجرا کنید

In [14]:
balance

520.015

در پایان  حتما  جوپیتر خود را  ذخیره (save) کنید. برای این کار  می‌توانید گزینه‌ی بالا و سمت چپ صفحه استفاده کنید و یا ctrl + s را بزنید. بعد از ذخیره کردن دکمه **ارسال پاسخ** را فشار دهید.